html, body{
  height: 100%;
  font-family: Staatliches;
}

h1 {
  font-size: 2em;
  margin: 10px;
  padding: 5px;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin: 10px;
  padding: 5px;
}

p {
  font-size: 1.25em;
  margin: 10px;
  padding: 5px;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  background-image:url('../images/3ce69531311986a8a78f1e093f53df3d.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main div {
  width: 50%;
  height: 50%;
}

main img {
  width: 100%;
  height: 100%;
}

footer {
  border-top: 1px solid #FFFFFF;
  flex-shrink: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #63b6db;
  background: -moz-linear-gradient(45deg, #63b6db 0%, #309dcf 100%);
  background: -webkit-linear-gradient(45deg, #63b6db 0%, #309dcf 100%);
  background: linear-gradient(45deg, #63b6db 0%, #309dcf 100%);
  overflow: auto;
}

nav a {
  font-family: Staatliches;
  color: #f2f2f2;
  float: right;
  font-size: 1.5em;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background-color: #dddddd;
  color: #000000;
}

nav a:active {
  background-color: #f2f2f2;
  color: #FFFFFF;
}

nav a:focus {
  background-color: #f2f2f2;
  color: #FFFFFF;
}

nav .current_page {
  background-color: #dddddd;
  color: #000000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer {
  margin: 10px;
  padding: 5px;
}

figcaption {
  margin: 10px;
  text-align: center;
}

header p {
  font-size: 30px;
  margin: 10px;
  padding: 5px;
}

a.skip {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}

a.skip:focus {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid white;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}

@media only screen and (max-width: 1024px) {
  p {
    font-size: 1.5em;
  }

  main div {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  nav a {
    font-size: 2em;
    display: inline-block;
  }

}

@media only screen and (max-width: 540px) {

  nav {
    display: inline-block;
  }

  nav a {
    font-size: 2em;
    padding: 2px 4px;
  }

  nav h1 {
    font-size: 2em;
    padding: 0;
  }

}
